
a, button, div, span, h1, h2, h3, h4, h5, h6 {
  display: block;
  position: relative;
}

a, a:active, a:focus, a:hover, a:visited {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
