
$black: rgba(13, 13, 13, 1.0);
$danger: #c70d0d;
$default: #cccccc;
$gray: #777777;
$light-gray: #cccccc;
$info: #9acfe7;
$primary: #3773ac;
$secondary: #3c4a5e;
$success: #488d4e;
$warning: #e9b62b;
$white: #f0f0f0;

$animation: all 300ms ease-in-out 0ms;

$breakpoint: 960px;

