.button-modal {
    display: flex;
    justify-content: flex-end;
}

.modal-backdrop {
    z-index: -1;
}   

.form-group {
    margin: 1em;
}

.submit-button {
    float: right;
    margin-right: 2.3em;
    margin-bottom: 1em;
}