body {
    margin: 0em;
    width: 100vw;
    height: 100vh;
}

#root {
    height: 100%;
}

.map {
    height: 100%;
}

.modal {
    z-index: 999;
}

.text-popup span {
    font-weight: bold;
    font-size: 1.3em;
}

.text-popup pre {
    font-size: .9em;
    font-weight: normal;
}

.text-popup pre:first-child {
    margin-top: 1em;
}

.icon-button {
    float: right;
}