body {
    margin: 0em;
    width: 100vw;
    height: 100vh;
}

#root {
    height: 100%;
}

.map {
    height: 100%;
}

.card {
    z-index: 999;
    position: absolute;
    top: 0.5em;
    left: 4em;
    width: 15em;
    height: 9.1em; 
}

.toggle {
    z-index: 999;
    position: absolute;
    right: 40em;
}

@media (min-width: 425px) {
    .card {
        width: 20em;
    }
}

@media (min-width: 768px) {
    .card {
        width: 30em;
        left: 9em;
    }
}

@media (min-width: 1024px) {
    .card {
        width: 27em;
        left: 4em;
        height: 13.9em;
    }
}

