body {
    margin: 0em;
    width: 100vw;
    height: 100vh;
}

#root {
    height: 100%;
}

.map {
    height: 100%;
}

.modal {
    z-index: 999;
}

/* @media (min-width: 425px) {
    .card {
        width: 20em;
    }
}

@media (min-width: 768px) {
    .card {
        width: 30em;
        left: 9em;
    }
}

@media (min-width: 1024px) {
    .card {
        width: 27em;
        left: 4em;
        height: 40em;
    }
} */

